<ion-view view-title="Pregunta 1">
  <ion-content>
    <h1>¿De qué color es el caballo blanco de San Martín?</h1>
    <button class="button button-block button-stable" ng-click="elegirIncorrecto()">
      Negro
    </button>
    <button class="button button-block button-stable" ng-click="elegirCorrecto()">
      Blanco
    </button>
    <button class="button button-block button-stable" ng-click="elegirIncorrecto()">
      Marrón
    </button>
    <button class="button button-block button-stable" ng-click="elegirIncorrecto()">
      Moteado
    </button>
  </ion-content>
</ion-view>
