<ion-view view-title="Final" cache-view="false">
  <ion-content class="padding">
    <h2>No hay más preguntas</h2>
    <p>
    Buen trabajo {{datos.nombre}}, has llegado hasta el final de la trivia. <br>
    Has respondido {{datos.puntaje}} preguntas correctamente. <br>
    Muchas gracias por haber jugado, espero que te haya gustado.<br><br>
    Pulsa el botón para subir tu puntaje.
    </p>
    <button class="button button-full button-royal" ng-click="enviar()">
      Enviar
    </button>
  </ion-content>
</ion-view>
