<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Bienvenido {{datos.nombre}}</h2>
    <p>
    Esta aplicación fue hecha para aprobar la materia Práctica Profesional Supervisada.<br>
    Para poder testear y mostrar dicha aplicación, fue necesario invertir más de $7000 para renovar el celular, contando el precio del celular, el envío, la funda y el vidrio templado. Por esa razón, por favor, ¡apruebeme la materia!<br>
    ¡Muchas Gracias!<br><br>
    Diana Man
    </p>
  </ion-content>
</ion-view>
